RewriteEngine On
# If the requested file does not exist
RewriteCond %{REQUEST_FILENAME} !-f
# If the requested directory does not exist
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite .php extension to remove it
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]
